script: true
install: true
language: python
python: 
- '2.7'

install:
- pip install pycodestyle
script:
  - pycodestyle src/objectpack/

deploy: 
  provider: pypi
  user: bars-travis
  password: 
    secure: bfXoYvyANLP1W5IOxgmWU0zOoaUhZkCa9XT3VLj/02wY2ALzwl/Zlq9wMbhJoPcn9CNOJeJg++eMqkwt5DzxLTuLTNPYu0T8ACM8pXw7sRMcV6XcAp2zNYex5tYcSLvXaxrTzNlMFVTmuHfaTX+wDbvfTZ772tRmYTqidgYw2jw=
  on: 
    tags: true
  distributions: sdist

notifications:
  email:
    recipients:
    - dev-py@bars-open.ru
